.socialMediaIcons{
    display: flex;
    justify-content: space-between;
}

.foot{
    border-top: 2px solid #293228;
    margin-top: 2em;
}

.Rechtliches p{
    font-size: small;
}

.verweise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    padding: 2em;
}

.Kontakt{
    padding-left: 1em;
    padding-right: 1em;
}

.Kontakt:hover{
    color: #455443;
}

.Rechtliches .impressum:hover{
    color: #455443;
}

.Rechtliches .datenschutz:hover{
    color: #455443;
}

.Rechtliches{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socialMedia{
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.iconsFrom{
    padding-left: 1em;
    padding-right: 1em;
}

img{
    width: 2.5em;
    height: 2.5em;
    padding: 0.5em;
}

a:hover{
    color: #455443;
}

a {
    text-decoration: none;
    color: #293228;
}

@media (min-width: 1100px){
    img:hover{
        width: 3em;
        height: 3em;
    }
    .Rechtliches .impressum{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-right: 3em;
        margin-top: 1.5em;
    }

    .Rechtliches .datenschutz{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 1.5em;
    }
}

@media (max-width: 1100px) {
    .verweise{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Kontakt p{
        padding-left: 1em;
        padding-right: 1em;
    }
    .Kontakt{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .Rechtliches{
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80%;
    }

    .socialMedia{
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .iconsFrom{
        padding-top: 2em;
        padding-bottom: 3em;
    }
    img{
        height: 4em;
        width: 4em;
        padding: 1em;
    }
}